{% extends 'base.html.twig' %}
{% block title %}نرم افزار حسابداری آنلاین،متن‌باز و کاملا رایگان
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-12 my-3">
				<div class="p-1 mb-4">
					<div class="container-fluid pt-md-5 pt-sm-2">
						<div class="row align-items-center">
							<div class="col-sm-12 col-md-7 mb-3 text-center">
								<h1 class="fs-2 fw-bold text-primary">شروعی ساده و آسان
									<br>
									برای مدیریت کسب‌و‌کار شما
								</h1>
								<p class="fs-6 mb-1">حسابیکس پلتفرم حسابداری ابری،متن‌باز و واقعا رایگان</p>
								<p class="fs-6 text-body-tertiary mb-3">
									میزبان بیش از
									<span class="text-danger">۳۵ هزار
									</span>
									کاربر و
									<span class="text-danger">۲۳ هزار
									</span>
									کسب و کار فعال
								</p>
								<a class="btn rounded-4 btn-primary" href="https://app.hesabix.ir" target="_blank">هم‌اکنون عضو شوید</a>

							</div>
							<div class="col-sm-12 col-md-5 mb-3">
								<img src="{{asset('img/viewWindows.png')}}" class="img-fluid" alt="نرم افزار حسابداری حسابیکس"/>
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<div class="card text-bg-light mb-3">
									<div class="card-body text-center">
										<p class="card-text text-body-secondary">
											حسابیکس یک پلتفرم مدیریت کسب‌و‌کار که پاسخگوی تمام اهداف تجاری شما از یک فروشگاه کوچک تا یک مجتمع بازرگانی بزرگ است
											<br>
											کافی است گام اول را بردارید،جهت پیشبرد اهدافتان در کنار شما هستیم.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 mb-4">
				<div class="container bg-body-tertiary rounded-3 p-4">
					<h4 class="text-center mb-4 text-primary">حامیان حسابیکس</h1>
					<div class="row row-cols-2 row-cols-md-4 g-4 justify-content-center">
						<div class="col">
							<div class="card h-100 border-0 shadow-sm">
								<a href="https://parspack.com" target="_blank">
									<img src="{{asset('img/sp/parspack-logo.png')}}" class="card-img-top p-3" alt="Sponsor 1 Logo">
								</a>
							</div>
						</div>
						<div class="col">
							<div class="card h-100 border-0 shadow-sm">
								<a href="https://melipayamak.com" target="_blank">
									<img src="{{asset('img/sp/melipayamak.png')}}" class="card-img-top p-3" alt="Sponsor 1 Logo">
								</a>
							</div>
						</div>
						<div class="col">
							<div class="card h-100 border-0 shadow-sm">
								<a href="https://raddata.ir" target="_blank">
									<img src="{{asset('img/sp/raddata.png')}}" class="card-img-top p-3" alt="Sponsor 1 Logo">
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12">
				<div class="p-1 mb-4">
					<div class="container-fluid">
						<div class="row align-items-center">
							<div class="col-sm-12 col-md-3 mb-3 text-center">
								<img src="{{asset('img/viewMobile.png')}}" class="img-fluid" alt="نرم افزار حسابداری حسابیکس"/>
							</div>
							<div class="col-sm-12 col-md-9 mb-3">
								<h2 class="text-primary">شروعی سریع و ساده با حسابیکس</h2>
								<ul class="">
									<li class="my-3">
										ابتدا در حسابیکس عضو شوید و پنل کسب و کار خود را به سادگی بسازید، توجه داشته باشید هر تعداد کسب‌و‌کار که داشته باشید می توانید از طریق یک داشبورد واحد آن‌ها مدیریت کنید
									</li>
									<li class="my-3">
										اطلاعات کسب و کار خود را وارد کنید و تنظیمات اولیه  را انجام دهید،حسابیکس آماده و در اختیار شماست . در صورتی که سوالی درباره حسابیکس داشتید می‌توانید تیکت پشتیبانی ارسال کنید
									</li>
									<li class="my-3">
										از حسابیکس  بر روی موبایل، تبلت و کامپیوتر لذت ببرید تنها کافی است که یک اتصال اینترنت داشته باشید،حسابیکس در هر نقطه‌ای از جهان در دسترس شما خواهد بود
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12">
				<div class="p-1 mb-4">
					<div class="container-fluid">
						<h3 class="text-primary fs-2 text-center py-3">از وبلاگ حسابیکس</h3>
						<div class="row">
							{% for post in posts %}
								<div class="col-sm-12 col-md-4 mb-3">
									<div class="card d-flex position-relative">
										<img src="{{asset('uploaded/' ~ post.mainPic )}}" class="card-img-top" alt="{{ post.title}}">
										<div class="card-body">
											<h3 class="card-title text-primary fs-4">{{post.title}}</h3>
											<p class="card-text">{{ post.intro }}</p>
											<div class="card-text text-start align-items-center">
												<small class="text-body-secondary float-end">{{ Jdate.jdate('Y/n/d',post.dateSubmit) }}</small>
												<a href="{{path('app_blog_post',{'url':post.url})}}" class="float-start btn btn-primary btn-sm rounded-4 stretched-link">ادامه مطلب</a>
											</div>
										</div>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
			<div class="col-12">
				<div class="card mb-3 bg-body-tertiary">
					<div class="row g-0">
						<div class="col-md-4 text-center align-items-center">
							<img src="{{asset('/img/memaps.svg')}}" style="max-height: 10rem;" class="img-fluid rounded-start" alt="نقشه‌های آنلاین می مپس">
						</div>
						<div class="col-md-8">
							<div class="card-body">
								<h5 class="card-title">Me Maps</h5>
								<p class="card-text">
									می‌مپس یک نقشه آنلاین برای توسعه دهندگان نرم افزار‌های نقشه محور در وب ، اندروید و آی او اس است که تازگی توسط گروه حسابیکس به صورت کاملا رایگان توسعه داده شده است.این پلتفرم قابلیت ارائه API جهت نمایش نقشه و مسیریابی را برای توسعه دهندگان فراهم می‌کند.
								</p>
								<p class="card-text">
									<a href="https://memaps.ir" target="_blank" class="rul">
										<small class="btn btn-primary">ورود به می‌مپس</small>
									</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
