{% apply spaceless %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta lang="fa">
		<meta content="width=device-width,initial-scale=1.0" name="viewport"/>
		<!-- Google tag (gtag.js) -->
		 <script async src="https://www.googletagmanager.com/gtag/js?id=G-K1R1SYQY8E"></script>
		 <script>
										  window.dataLayer = window.dataLayer || [];
										  function gtag(){dataLayer.push(arguments);}
										  gtag('js', new Date());
										
										  gtag('config', 'G-K1R1SYQY8E');
										</script>
			{% if block('des') is not defined %}
			<meta content="{{twigFunctions.systemSettings.des}}" name="description"/>
		{% else %}
			<meta content="{{block('des') | trim}}" name="description"/>
		{% endif %}
		{% if block('keywords') is not defined %}
			<meta content="{{twigFunctions.systemSettings.siteKeywords}}" name="keywords"/>
		{% else %}
			<meta content="{{block('keywords') | trim}}" name="keywords"/>
		{% endif %}
		<meta content="Babak Alizadeh" name="author"/>
		<title>حسابیکس -
			{% block title %}{% endblock %}
		</title>
		<link rel="icon" href="{{ asset('/favicon/favicon.ico' )}}">
		<link rel="stylesheet" href="{{asset('/fonts/yekanbakh/fontiran.css')}}">
		{% block stylesheets %}
			{# 'app' must match the first argument to addEntry() in webpack.config.js #}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<nav class="navbar navbar-expand-lg border-bottom bg-body-tertiary shadow-sm">
			<div class="container">
				<a class="navbar-brand text-primary d-flex align-items-center gap-2" href="{{path('app_home')}}">
					<img src="{{asset('/favicon/favicon.svg')}}" alt="نرم افزار حسابداری آنلاین حسابیکس" width="30" height="30">
					<span class="">حسابیکس</span>
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link px-3 py-2 rounded-3 transition-all" href="{{path('app_home')}}">صفحه نخست</a>
						</li>
						<li class="nav-item">
							<a class="nav-link px-3 py-2 rounded-3 transition-all" href="{{path('app_guide')}}">راهنمای جامع</a>
						</li>
						<li class="nav-item">
							<a class="nav-link px-3 py-2 rounded-3 transition-all" href="{{path('app_blog_home')}}">وبلاگ</a>
						</li>
						<li class="nav-item">
							<a class="nav-link px-3 py-2 rounded-3 transition-all" href="{{path('app_page',{'url':'sponsors'})}}">حامیان مالی</a>
						</li>
						<li class="nav-item">
							<a class="nav-link px-3 py-2 rounded-3 transition-all" href="{{path('app_page',{'url':'about'})}}">داستان حسابیکس</a>
						</li>
						<li class="nav-item">
							<a class="nav-link px-3 py-2 rounded-3 transition-all" href="{{path('app_page',{'url':'contact'})}}">تماس با ما</a>
						</li>
					</ul>
					<div class="d-flex">
						<a target="_blank" class="btn btn-primary rounded-4 px-4 py-2 fw-bold transition-all" href="https://app.hesabix.ir">
							ورود / عضویت
						</a>
					</div>
				</div>
			</div>
		</nav>
		{% block body %}{% endblock %}

		<footer class="py-3 my-4">
			<ul class="nav justify-content-center border-bottom pb-3 mb-3">
				<li class="nav-item">
					<a href="{{path('app_page',{'url':'hsx'})}}" class="nav-link px-2">توکن HSX</a>
				</li>
				<li class="nav-item">
					<a href="{{path('app_api_docs',{'url':'home'})}}" class="nav-link px-2">مستندات API</a>
				</li>
				<li class="nav-item">
					<a href="{{path('app_changes')}}" class="nav-link px-2">تغییرات</a>
				</li>
				<li class="nav-item">
					<a href="https://github.com/morrning" target="_blank" class="nav-link px-2">مخازن کد</a>
				</li>
				<li class="nav-item">
					<a href="{{path('app_page',{'url':'open-source'})}}" class="nav-link px-2">متن‌باز</a>
				</li>
				<li class="nav-item">
					<a href="{{path('app_page',{'url':'inMedia'})}}" class="nav-link px-2">در رسانه‌ها</a>
				</li>
				<li class="nav-item">
					<a href="{{path('app_page',{'url':'terms'})}}" class="nav-link px-2">قوانین ارائه خدمات</a>
				</li>
				<li class="nav-item">
					<a href="{{path('app_page',{'url':'privacy'})}}" class="nav-link px-2">حریم خصوصی</a>
				</li>
			</ul>
			<div class="text-center p-1 m-1">
				<div class="row mx-0">
					<div class="col-sm-12 col-md-6 text-center text-body-tertiary">
						<img src={{asset('/img/sp/parspack.svg')}} alt="Parspack Co" width="25" class="img-fluid">
						با خاطری آسوده،استوار بر روی راهکار‌های ابری
						<a href="https://parspack.com" target="_blank" class="rul">پارس‌پک</a>
					</div>
					<div class="col-sm-12 col-md-6 text-center text-body-tertiary">
						حسابیکس با
						<img src={{asset('/img/heart.png')}} alt="Love" width="25" class="img-fluid">
						متن باز است
					</div>
				</div>

			</div>
		</footer>
	</body>
</html>

{% endapply %}
