{% extends 'base.html.twig' %}
{% block keywords %}item.keywords{% endblock %}
{% block title %}
	{{ item.title }}
{% endblock %}

{% block des %}
	{{ item.intro }}
{% endblock %}

{% block body %}
	{% if item.plain is not null %}
		{{ item.plain | raw}}
	{% endif %}
	{% if item.body is not null %}
		<div class="container mt-3">
			<div class="row">
				<div class="col">
					<h1 class="text-primary py-4">{{item.title}}</h1>
					{{ item.body | raw}}
				</div>
			</div>
		</div>

	{% endif %}

{% endblock %}
